.searchTecn{
    display: flex;
    gap: 3%;
}
.scrollable {
    margin-top: 3%;
    margin-left: 3%;
      display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 90vw;
  justify-content: flex-start;

  gap: 3%;
}
.horizontalFlex1{
   display: flex;
   flex-direction: row;
   width: 90%;
   max-width: 90%;
   margin: auto;
    justify-content: center;
   margin-left: 6%;
}

.growBarChart{
  flex-grow: 3;
  max-width: 93%;
}
.statsTable{
  flex-shrink: 3;
   transform: translateY(30%);
   margin-left: 1%;
   border: 3px solid grey; 
   height: fit-content;
}
.horizontalFlex{
   display: flex;
   flex-direction: row;
   gap: 2px;
}

.horizontalFlexSpaceBetween{
  @extend .horizontalFlex;
   justify-content:space-between;
}
.horizontalFlexStart{
  @extend .horizontalFlex;
   justify-content:flex-start;
   gap: 10px;
}

.tables{
  @extend .horizontalFlex;
  padding-top: 3%;
  gap: 10px;
  flex-wrap: wrap ;
}
.littleBox{
  @extend .horizontalFlex;
  border:1px solid black;
  flex: 1 1 0px;
  flex-basis: 0;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.modal{

    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.verticalFlex{
   display: flex;
   flex-direction: column;
gap: 30%;
}
.allLeft{
  display: flex;
justify-content: flex-start;
margin-left: 1%;
margin-top: 1%;
  
}