$myBorderRadius: 25px;


.everything {
    background-color: #E7F7F4;
    margin: 2em 4em 5em 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: $myBorderRadius;
    gap: 30px;
}

