@import "./../LandPage/LandPage.scss";
.verticalFlex{
  background-color: white;
  border-radius: $myBorderRadius;
  margin-left: $myPaddingLeft;
  margin-right: $myPaddingLeft;
  margin-bottom: $myPaddingLeft;
}
.center {
  margin: auto;
  width: 70vw;
  padding: 10px;
}

.scrollable {
      display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 80vw;
  justify-content: flex-start;

  gap: 3%;
}

.containerCards{
  margin-top: 3%;

}

.max{
  padding-left: 10px;
  padding-bottom: 20px;
}

.horizontalFlex{
   display: flex;
   flex-direction: row;
}

.horizontalFlexSpaceBetween{
  @extend .horizontalFlex;
   justify-content:space-between;
}
.horizontalFlexStart{
  @extend .horizontalFlex;
   justify-content:flex-start;
   gap: 10px;
}

.tables{
  @extend .horizontalFlex;
  padding-top: 2%;
  gap: 10px;
  flex-wrap: wrap ;
}
.littleBox{

  flex: 1 1 0px;
  flex-basis: 0;
}

.topMargin{
  padding-top: 5px;
}