@import "./../LandPage/LandPage.scss";
.verticalFlex{
  background-color: white;
  border-radius: $myBorderRadius;
  margin-left: $myPaddingLeft;
  margin-right: $myPaddingLeft;
  margin-bottom: $myPaddingLeft;
}
.center {
  margin: auto;
  width: 70vw;
  padding: 10px;
}

.scrollable {
      display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 80vw;
  justify-content: flex-start;

  gap: 3%;
}