
.column {
    display: flex;
    flex-direction: column;
justify-content: center;
width:100%;
}
.barChart{
    height: 60vh;
    width: 110vh;
      display: table;
  margin: 0 auto;
}

.MySlider{
    width: 50%;
    text-align: left;
    margin-left: 10%;
}