$myBorderRadius: 25px;
$myPaddingLeft: 2%;

.line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.subBox {
    height: 30em;

}

.tabelTecs {
    flex-grow: 7;
    width: 100%;
    height: 30em;
    max-height: 20em;
    overflow-y: scroll;
    background-color: white;
    border-radius: $myBorderRadius ;
    margin-left: $myPaddingLeft;
    padding-right: 4%;
    border-radius: 3px; 
    border-color: black;
}


.everything {
    background-color: #E7F7F4;
    margin: 2em 4em 5em 4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: $myBorderRadius;
    gap: 30px;
}

.selectTecn {
    font-weight: lighter;
}

.rowButtons {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.getTecn {
    padding-top: 1%;
    padding-left: $myPaddingLeft;
}

.stats{
    background-color: red;
    margin-left: 5%;
  margin-right: 5%;
     display: flex;
      height: 100%;
       display: inline-block;
  align-self: flex-end;
  flex-shrink: 3;
}