.line{
     display: flex;
     flex-direction: row ;
     justify-content: flex-start;
}

.subBox{
height: 30em;

}

.btnRight{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: red;
}
.tabelTecs{
width: 70%;
height: 30em;
max-height: 20em;
overflow-y: scroll;
}
.btnsColumn{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
}