
.flexNavBar{
    position: static;
    display: flex; 
     flex-direction: row;
     background-color: #FC848C;
}


.logo{

  transform: translateY(10%);
}

.ani_logo{
    @extend .logo;
    width:3%;
    height: 3%;
    padding-left: 5%;
    padding-right: 3%;
}
.uminho_logo{

    @extend .logo;
    width:4%;
    height: 4%;
    margin-right: 5%;
}

.isep_logo{
    @extend .logo;
    width:5%;
    height: 5%;
  transform: translateY(30%);
}
.titleNavBar{
    margin-right: 50%;
    color:white
}